      header {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 1rem;
      }

      header *:last-child {
        margin-right: 0;
      }

      nav {
        padding: 1rem 0;
        display: flex;
        flex: 8;
      }

      header nav>a {
        text-decoration: none;
        margin-right: 2rem;
      }

      header nav>a:last-child {
        margin-right: none;
      }

      header section>a {
        text-decoration: none;
        margin: 0.5rem;
      }

      .social {
        flex: 2;
        display: flex;
        justify-content: flex-end;
      }

      main {
        float: none !important;
        margin: 0 1rem;
      }

      main li {
        margin-top: 0.5rem;
      }

      body {
        max-width: 850px;
        margin: 0 auto;
      }

      body * {
        font-family: 'Roboto', sans-serif;
        font-weight: light;
        color: rgb(32, 33, 36);
      }

      body h1, h2, h3, h4, h5, h6 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: regular;
      }

      .home {
        margin-right: 1rem;
        text-decoration: none;
        color: black;
      }

      .timestamp * {
        color: inherit;
        font-size: inherit;
      }

      .timestamp {
        font-size: 0.8rem;
        margin: -0.75rem 0 1.5rem 0;
        color: rgba(50,50,50,0.8);
      }

      code {
        font-family: 'Roboto Mono', monospace;
      }

      code * {
        font-family: inherit;
        font-size: 1rem;
      }

      blockquote {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        width: 100%;
      }

      blockquote p {
        font-weight: lighter;
      }

      blockquote>p::before {
        content: '"';
        margin-right: 0.5rem;
        font-size: 2rem;
        font-family: 'Roboto Mono', monospace;
      }

      blockquote>p::after {
        content: '"';
        margin-left: 0.5rem;
        font-size: 2rem;
        font-family: 'Roboto Mono', monospace;
      }
